$font: 'Roboto';

$base-font-size: 16px;
$font-size-h1: $base-font-size * 3.75;
$font-size-h2: $base-font-size * 2.5;
$font-size-h3: $base-font-size * 1.875;
$font-size-btn: $base-font-size * 1.125;
$font-size-menu: $base-font-size * 1.125;
$font-size-features: $base-font-size * 0.75;
$font-size-link: $base-font-size * 0.75;
$font-size-copyright: $base-font-size * 0.75;
$font-size-phone: $base-font-size * 2.125;

$color-primary: #302d32;
$color-secondary: #827686;
$color-filter: #d6d5d6;
$color-roller: #c0c0c1;
$color-range: #565458;
$bg-color: #ffffff;

