<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homefor</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <main>

            <section class="section-filter">
                <div class="wrapper">
                    <div class="dropdown-first">

                        <div class="dropdown">
                            <button class="btn my-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Тип объекта
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Загородные дома</a>
                                <a class="dropdown-item" href="#">Городские квартиры</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn my-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Район
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                            </div>
                        </div>

                    </div>

                    <div>
                        <form class="form">
                            <label class="filter">
                                <span class="filter-characteristics__metres">Площадь</span>
                                <div class="filter__box">
                                    <input class="filter__input" type="text" name="measure" id="measure">
                                    <span class="filter__measure">м2</span>
                                </div>
                            </label>
                            <label class="filter">
                                <span class="filter-characteristics__price">Цена за м2</span>
                                <div class="filter__box">
                                   <input class="filter__input" type="text" name="price" id="price">
                                   <span class="filter__measure">тыс.</span>
                                </div>
                            </label>
                        </form>
                    </div>

                    <div class="filter-slide">
                        <div class="filter-item"> 
                            <div id="slider-range"></div>
                            <input type="text" id="amount" class="filter-text">
                        </div>
                        <span class="filter-max">1000</span>
                        <div class="filter-item">
                            <div id="slider-range-two"></div>
                            <input type="text-two" id="amount-two" class="filter-text-two">
                        </div>
                        <span class="filter-max">98000</span>
                    </div>
                    
                <!--    <div>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="1000" value="120" class="firstSlider" id="myRangeone">
                            <p><span id="demoone"></span></p>
                        </div>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="98000" value="10350" class="secondSlider" id="myRangetwo">
                            <p><span id="demotwo"></span></p>
                        </div>

                        <div class="container">
                            <input type="range" min="0" step="1" max="1000" value="0" class="oneslide">
                            <input type="range" min="0" step="1" max="1000" value="120" class="twoslide">
                        </div>
                    </div>-->

                    <div class="filter-do">
                        <button class="reset-btn">Сбросить фильтры<span class="close"></span></button>
                        <button class="show-btn">Показать</button>
                    </div>

                </div>
            </section>
            <section class="section-country">
                <div class="wrapper">
                        <h2 class="title">Загородные дома</h2>
                        <p class="section-country__description">Наши дома расположились в уютных районах Екатеринбурга:<br>Верх-Исетский район, Железнодорожный район, Чкаловский район.</p>
                        <div class="content">
                            <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="slider">
                                <div class="slider-child">
                                    <div class="slider-item">
                                        <div class="slider-thumb slider-cowberry">
                                            <h3 class="slider-thumb__title">Дом “Брусника”</h3>
                                            <div class="slider-thumb__description">
                                                <p class="slider-thumb__address">ул. Карла Маркса, 60, Екатеринбург</p>
                                                <button class="slider-thumb__button" type="button"></button>
                                            </div>
                                        </div>
                                        <div class="slider-footer">
                                            <ul class="slider-footer__features">
                                                <li class="features-icon__metres">200 м2</li>
                                                <li class="features-icon__area">10 сот</li>
                                                <li class="features-icon__paint">с отделкой</li>
                                            </ul>
                                            <p class="slider-footer__price">7 005 456 500 ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-child">
                                    <div class="slider-item">
                                        <div class="slider-thumb slider-trand">
                                            <h3 class="slider-thumb__title">Дом  “Трендис”</h3>
                                            <div class="slider-thumb__description">
                                                <p class="slider-thumb__address">ул. Урицкого, 13, Екатеринбург</p>
                                                <button class="slider-thumb__button" type="button"></button>
                                            </div>
                                        </div>
                                        <div class="slider-footer">
                                            <ul class="slider-footer__features">
                                                <li class="features-icon__metres">500 м2</li>
                                                <li class="features-icon__area">12 сот</li>
                                                <li class="features-icon__paint">с отделкой</li>
                                            </ul>
                                            <p class="slider-footer__price">10 000 234 500 ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-child">
                                    <div class="slider-item">
                                        <div class="slider-thumb slider-panorama">
                                            <h3 class="slider-thumb__title">Дома  “Панорама”</h3>
                                            <div class="slider-thumb__description">
                                                <p class="slider-thumb__address">ул. Толстого, 340, Екатеринбург</p>
                                                <button class="slider-thumb__button" type="button"></button>
                                            </div>
                                        </div>
                                        <div class="slider-footer">
                                            <ul class="slider-footer__features">
                                                <li class="features-icon__metres">150 м2</li>
                                                <li class="features-icon__area">13 сот</li>
                                                <li class="features-icon__paint">с отделкой</li>
                                            </ul>
                                            <p class="slider-footer__price">5 045 000 500 ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-child">
                                    <div class="slider-item">
                                        <div class="slider-thumb slider-cowberry">
                                            <h3 class="slider-thumb__title">Дом “Брусника”</h3>
                                            <div class="slider-thumb__description">
                                                <p class="slider-thumb__address">ул. Карла Маркса, 60, Екатеринбург</p>
                                                <button class="slider-thumb__button" type="button"></button>
                                            </div>
                                        </div>
                                        <div class="slider-footer">
                                            <ul class="slider-footer__features">
                                                <li class="features-icon__metres">200 м2</li>
                                                <li class="features-icon__area">10 сот</li>
                                                <li class="features-icon__paint">с отделкой</li>
                                            </ul>
                                            <p class="slider-footer__price">7 005 456 500 ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-child">
                                    <div class="slider-item">
                                        <div class="slider-thumb slider-trand">
                                            <h3 class="slider-thumb__title">Дом  “Трендис”</h3>
                                            <div class="slider-thumb__description">
                                                <p class="slider-thumb__address">ул. Урицкого, 13, Екатеринбург</p>
                                                <button class="slider-thumb__button" type="button"></button>
                                            </div>
                                        </div>
                                        <div class="slider-footer">
                                            <ul class="slider-footer__features">
                                                <li class="features-icon__metres">500 м2</li>
                                                <li class="features-icon__area">12 сот</li>
                                                <li class="features-icon__paint">с отделкой</li>
                                            </ul>
                                            <p class="slider-footer__price">10 000 234 500 ₽</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-child">
                                    <div class="slider-item">
                                        <div class="slider-thumb slider-panorama">
                                            <h3 class="slider-thumb__title">Дома  “Панорама”</h3>
                                            <div class="slider-thumb__description">
                                                <p class="slider-thumb__address">ул. Толстого, 340, Екатеринбург</p>
                                                <button class="slider-thumb__button" type="button"></button>
                                            </div>
                                        </div>
                                        <div class="slider-footer">
                                            <ul class="slider-footer__features">
                                                <li class="features-icon__metres">150 м2</li>
                                                <li class="features-icon__area">13 сот</li>
                                                <li class="features-icon__paint">с отделкой</li>
                                            </ul>
                                            <p class="slider-footer__price">5 045 000 500 ₽</p>
                                        </div>
                                    </div>
                                </div>


                                <span class="slider__label sr-only"></span>
                            </div>
                        </div> 
                </div>

                   <!--<input class="section-country__input" type="range" id="range" min="1" value="1" step="1" />
                    <div id="slider">
                        
                    </div>--> 
                    
                </div>
            </section>
            <section class="section-city">
                <div class="wrapper">
                    <h2 class="title">Городские квартиры</h2>
                    <p class="section-city__description">В каталоге квартир вы найдете актуальные планировки и цены.<br>Это те квартиры, которые есть в продаже сейчас.</p>
                    <div class="catalog">
                        <div class="catalog-child">
                            <div class="catalog-item">
                                <div class="catalog-thumb catalog-jukovka">
                                    <h3 class="catalog-thumb__title">Дом “Жуковка”</h3>
                                    <div class="catalog-thumb__description">
                                        <p class="catalog-thumb__address">ул. Карла Маркса, 60, Екатеринбург</p>
                                        <button class="catalog-thumb__button catalog-thumb__like" type="button"></button>
                                    </div>
                                </div>
                                <div class="catalog-footer">
                                    <ul class="catalog-footer__features">
                                        <li class="features-icon__metres">72 м2</li>
                                        <li class="features-icon__paint">с отделкой</li>
                                    </ul>
                                    <p class="catalog-footer__price">3 006 435 500 ₽</p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-child">
                            <div class="catalog-item">
                                <div class="catalog-thumb catalog-parashute">
                                    <h3 class="catalog-thumb__title">Дом “Парашют”</h3>
                                    <div class="catalog-thumb__description">
                                        <p class="catalog-thumb__address">ул. Зорге, 160, Екатеринбург</p>
                                        <button class="catalog-thumb__button catalog-thumb__like" type="button"></button>
                                    </div>
                                </div>
                                <div class="catalog-footer">
                                    <ul class="catalog-footer__features">
                                        <li class="features-icon__metres">112 м2</li>
                                        <li class="features-icon__paint">с отделкой</li>
                                    </ul>
                                    <p class="catalog-footer__price">5 000 974 500 ₽</p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-child">
                            <div class="catalog-item">
                                <div class="catalog-thumb catalog-vesna">
                                    <h3 class="catalog-thumb__title">Дом “Весна”</h3>
                                    <div class="catalog-thumb__description">
                                        <p class="catalog-thumb__address">ул. Заречная, 120, Екатеринбург</p>
                                        <button class="catalog-thumb__button catalog-thumb__like" type="button"></button>
                                    </div>
                                </div>
                                <div class="catalog-footer">
                                    <ul class="catalog-footer__features">
                                        <li class="features-icon__metres">100 м2</li>
                                        <li class="features-icon__paint">с отделкой</li>
                                    </ul>
                                    <p class="catalog-footer__price">6 120 412 500 ₽</p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-child">
                            <div class="catalog-item">
                                <div class="catalog-thumb catalog-pioner">
                                    <h3 class="catalog-thumb__title">Дом “Пионер”</h3>
                                    <div class="catalog-thumb__description">
                                        <p class="catalog-thumb__address">ул. Карла Маркса, 120, Екатеринбург</p>
                                        <button class="catalog-thumb__button catalog-thumb__like" type="button"></button>
                                    </div>
                                </div>
                                <div class="catalog-footer">
                                    <ul class="catalog-footer__features">
                                        <li class="features-icon__metres">90 м2</li>
                                        <li class="features-icon__paint">с отделкой</li>
                                    </ul>
                                    <p class="catalog-footer__price">3 120 000 500 ₽</p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-child">
                            <div class="catalog-item">
                                <div class="catalog-thumb catalog-manch">
                                    <h3 class="catalog-thumb__title">Дом “Манхеттен”</h3>
                                    <div class="catalog-thumb__description">
                                        <p class="catalog-thumb__address">ул. Московская, 10, Екатеринбург</p>
                                        <button class="catalog-thumb__button catalog-thumb__like" type="button"></button>
                                    </div>
                                </div>
                                <div class="catalog-footer">
                                    <ul class="catalog-footer__features">
                                        <li class="features-icon__metres">87 м2</li>
                                        <li class="features-icon__paint">с отделкой</li>
                                    </ul>
                                    <p class="catalog-footer__price">6 000 456 000 ₽</p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-child">
                            <div class="catalog-item">
                                <div class="catalog-thumb catalog-friendship">
                                    <h3 class="catalog-thumb__title">Дом  “Дружба”</h3>
                                    <div class="catalog-thumb__description">
                                        <p class="catalog-thumb__address">ул. Прашина, 60, Екатеринбург</p>
                                        <button class="catalog-thumb__button catalog-thumb__like" type="button"></button>
                                    </div>
                                </div>
                                <div class="catalog-footer">
                                    <ul class="catalog-footer__features">
                                        <li class="features-icon__metres">50 м2</li>
                                        <li class="features-icon__paint">с отделкой</li>
                                    </ul>
                                    <p class="catalog-footer__price">4 012 400 500 ₽</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-load">Смотреть больше</button>
            </div>
            </section>
            <section class="section-plan">
                <h2 class="title">Генплан</h2>
                <p class="text-plan">На генплане вы можете посмотреть территорию покупки. В поселке все предусмотрено.<br>Здесь проведены необходимые коммуникации.Это место влюбляет в себя.</p>
                

                <div class="slider-plan">
                    <div><img src="../img/plan.png" alt=""></div>
                    <div><img src="../img/plan.png" alt=""></div>
                </div>
            </section>
            <section class="section-about">
                <div class="wrapper">
                    <h2 class="title">О компании</h2>
                    <p>Профессиональный оператор рынка элитной недвижимости с 2008 года.<br>HOMEFOR – это сочетание репутации, многолетнего опыта и высокого уровня сервиса.<br>Компания заслужила доверие и признание профессиональных участников рынка</p>
                    <div class="section-about-item">
                        <ul class="section-about-list">
                            <li class="section-about-list__item section-about-list__experience"><span></span>Большой опыт<br>в строительстве</li>
                            <li class="section-about-list__item section-about-list__accessible"><span></span>Доступные цены</li>
                            <li class="section-about-list__item section-about-list__timing"><span></span>Оперативные<br>сроки работы</li>
                            <li class="section-about-list__item section-about-list__quality"><span></span>Качественные<br>материалы</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section-news">
                <div class="wrapper">
                    <h2 class="title">Наши новости</h2>
                    <p class="section-news__description">Узнай новости компании первым. Мы всегда остаемся в тренде.</p>
                    <div class="content">
                        <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="slider">
                            <div class="slider-child__flat">
                                <div class="slider-item slider-hover">
                                    <div class="slider-text">
                                        <p class="slider-text__date">02.04.2020</p>
                                        <p class="slider-text__news">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения сложной задачи – строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                                        <a class="slider-text__link" href="#">Смотреть больше</a>
                                    </div>
                                    <div class="slider-flats"><img src="../img/flats.png" alt="квартиры"></div>
                                </div>
                            </div>
                            <div class="slider-child__flat">
                                <div class="slider-item slider-hover">
                                    <div class="slider-text">
                                        <p class="slider-text__date">02.04.2020</p>
                                        <p class="slider-text__news">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения сложной задачи – строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                                        <a class="slider-text__link" href="#">Смотреть больше</a>
                                    </div>
                                    <div class="slider-flats"><img src="../img/flats.png" alt="квартиры"></div>
                                </div>
                            </div>
                            <div class="slider-child__flat">
                                <div class="slider-item slider-hover">
                                    <div class="slider-text">
                                        <p class="slider-text__date">02.04.2020</p>
                                        <p class="slider-text__news">В 2018 году происходили изменения в главном<br>законе долевого строительства ФЗ-214 для<br>решения сложной задачи – строительства 120<br>млн квадратных метров жилья нового качества<br>и усиления контроля</p>
                                        <a class="slider-text__link" href="#">Смотреть больше</a>
                                    </div>
                                    <div class="slider-flats"><img src="../img/flats.png" alt="квартиры"></div>
                                </div>
                            </div>


                            <span class="slider__label sr-only"></span>
                        </div>
                    </div> 
            </div>
            </section>
            
        </main>
        @@include("../blocks/modules/footer/footer.html")
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 

        <script>
            $('.hero').slick({
                arrows:false,
                dots:true
            }
            );
        </script>

        <script>
            var firstSlider = document.getElementById("myRangeone");
            var output = document.getElementById("demoone");
            output.innerHTML = firstSlider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            firstSlider.oninput = function() {
                output.innerHTML = this.value;
            }
            
            var secondSlider = document.getElementById("myRangetwo");
            var output = document.getElementById("demotwo");
            output.innerHTML = secondSlider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            secondSlider.oninput = function() {
                output.innerHTML = this.value;
            }
        </script>
        <script>
            const sliders = document.querySelectorAll('input[type="range"]');

            sliders[0].addEventListener('input', (e) => {
            if(+sliders[0].value > +sliders[1].value){
                sliders[1].value = +sliders[0].value;
            }
            });

            sliders[1].addEventListener('input', (e) => {
            if(+sliders[1].value < +sliders[0].value){
                sliders[0].value = +sliders[1].value;
            }
            });

            sliders.forEach((slider) => {
            slider.addEventListener('change', () => {
                console.log(`from ${sliders[0].value} to ${sliders[1].value}`);
            })
            });
        </script>

        <script>//filter
              $( function() {
                $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 1000,
                values: [ 0, 120, ],
                slide: function( event, ui ) {
                    $( "#amount" ).val( " " + ui.values[ 0 ] + "                              " + ui.values[ 1 ] );
                }
                });
                $( "#amount" ).val( " " + $( "#slider-range" ).slider( "values", 0 ) +
                "                              " + $( "#slider-range" ).slider( "values", 1 ) );
            } );

            $( function() {
                $( "#slider-range-two" ).slider({
                range: true,
                min: 0,
                max: 98000,
                values: [ 0, 10350, ],
                slide: function( event, ui ) {
                    $( "#amount-two" ).val( " " + ui.values[ 0 ] + "                              " + ui.values[ 1 ] );
                }
                });
                $( "#amount-two" ).val( " " + $( "#slider-range-two" ).slider( "values", 0 ) +
                "                              " + $( "#slider-range-two" ).slider( "values", 1 ) );
            } );
        </script>

        <script>
            $(document).ready(function() {
                var $slider = $('.slider');
                var $progressBar = $('.progress');
                var $progressBarLabel = $( '.slider__label' );
                
                $slider.on('beforeChange', function(event, slick, currentSlide, nextSlide) {   
                    var calc = ( (nextSlide) / (slick.slideCount-1) ) * 100;
                    
                    $progressBar
                    .css('background-size', calc + '% 100%')
                    .attr('aria-valuenow', calc );
                    
                    $progressBarLabel.text( calc + '% completed' );
                });
                
                $slider.slick({
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    speed: 400,
                    arrows:true
                });  
            });
        </script>
        <script>
            $('.slider-plan').slick({
                arrows:true,
                prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">загородные дома</button>',
                nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style="">городские квартиры</button>',
            }
            );
        </script>

        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
