.footer {
    border-top: 2px solid #676569;
    padding-top: 64px;
    padding-bottom: 60px;
    @media (max-width:320px) {
        padding-top: 29px
    }
    .logo {
        width: 140px;
        height: 23px;
        background-color: transparent;
        @media (max-width:320px) {
            margin-bottom: 27px;
        }
        &-img {
            @media (max-width:320px) {
                margin-left: -52px;
                width: 97px;
            }
        }
    }
}

.box-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width:320px) {
        display: block;
    }
    &-item {
        justify-content: space-between;
        flex: 0 0 68%;
        margin-left: -8px;
        &:last-child {
            display: flex;
            justify-content: flex-end;
            flex: 0 0 33.6%;
            margin: -14px 0;
        }
    }
    &-nav {
        display: flex;
        @media (max-width:320px) {
            flex-wrap: wrap;
            width: 90%;
            margin-left: 46px
        }
    }
}

.box-footer-list {
    list-style-type: none;
    display: flex;
    padding-left: 104px;
    padding-top: 5px;
    @media (max-width:1200px) {
        padding-left: 29px;
    }
    @media (max-width:320px) {
        flex-wrap: wrap;
        padding-left: 0;
    }
    &__item {
        margin-bottom: 1.62rem;
        font-size: 1.12rem;
        @media (max-width:1200px) {
            font-size: 14px;
        }
        @media (max-width:320px) {
            font-size: $font-size-features;
            padding-right: 64px;
            margin-bottom: 13px;
        }
        &:hover {
            color: $color-primary;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
        padding-right: 47px;
        letter-spacing: -1px;
        @media (max-width:1200px) {
            padding-right: 30px;
        }
        @media (max-width:320px) {
            padding-right: 0;
        }
        &:hover {
            color: $color-primary;
            text-decoration: none;
        }
    }
    &__tel {
        font-size: $font-size-phone;
        font-weight: 700;
        margin-bottom: 2.06rem;
        text-decoration: none;
        color: $color-primary;
        @media (max-width:320px) {
            font-size: $font-size-btn;
        }
        &:hover {
            color: $color-secondary;
            text-decoration: none;
        }
    }
}

.box-footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 67px;
    padding-left: 85px;
    &__link {
        width: 50px;
        height: 50px;
        background-color: $color-primary;
        border-radius: 100%;
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        transition: 0.2s ease;
        &:hover {
            background-color: $color-secondary;
        }
    }
    &__vk {
        background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAOCAYAAADE84fzAAABYElEQVQ4jaWUzStEYRTGfybGwleNkMhH1rNgzz9gaSNsRNkgZWFlNSss/AfYiLJUZKcslIWNhaWmkWRiYRRN8ejlvXnnzrlSnjp13+c895xzzzn3rZE0DLTyjTRwDVz5cx+wDWSBWs/lgWngkh9kgBEq8YCkgipRktQsyfmaJK2pGqveH9muoblPATuxjI3AjH8uATmqkQqYTmDM0Oy7rO2SXmNZbyWlg8reY/6lwLduVP0oqS311RvYimXtAhaC84tRmUMvMG/wi0Axyt4jqRzL/iypW1K9UdmyJLcMh4ZvL/qqcCibhvBC0pzBH0vaMPi8pBYreMb36j+YCrconPoTsJLQ279ioEIX21fXx5N/Vj9rtSWyDuPHsnCVwLu1HU8K7iwrqfhL4COvs4bq8CZpKCm4s35JZwkv54I2HiRozqPLyMKNv4xGgXFgEGgAPoDTaGTAJHAHTAB1ni8DhU+/Xg8xT1FO7wAAAABJRU5ErkJggg==');
        background-size: 23px 14px;
    }
    &__inst {
        background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAABEUlEQVQ4ja2UQWrDMBBFn7owXRW6cKHQC+QEpeB1lyHX6AF6CF+guUbpLlllEUhzgvoGIcmuK1MIvyiMwmAUAo4HxhKj/79HI42QlLyUVEtqJLU6b61hauMc+SF+gGfgC3gAfoEfoCVvt8AIuAN2wBhYp0y2kg6S3iUVLstzXhj2YNwSS1G2cEkg+aukJ+NEq+PWGuARKIG/zjYq4MXmK2Bp8w/gE1gAe2CDFe+788d7SfNMuee25rGR22KARWcxicwkTcxnTsxjI1c5ocqJBBcPTqzqCt1kjjfVZArIxWUxjzlZTqiX5YRWNr4BwcWDxTzG5TtgsQc5/r4XMlnhL2SfFkl+apHBmnbQZ+T6h03iH713zuWSuHxoAAAAAElFTkSuQmCC');
        background-size: 18px 18px;
    }
    &__fb {
        background-image: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAYAAACJgPRIAAAAhElEQVQokeWQMQqDUBBEXyRg4RlSxTq1lVfyAF7Go1hZ6wVCCOmTMoIw8smXTBpN78DC7O5jWQZJXqWkTtJbH93CzoGLLeVQwlcVkFr/Ah7BHG14Nt8DBTCGxi+5hgVYg350kNTHQQ5k0T+Be/TXAGnjUL0FTcDJc2otn8ZD/uvxvUPADH2ic3hM15HMAAAAAElFTkSuQmCC');
        background-size: 9px 18px;
    }
}

.box-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    color: $color-primary;
    font-size: $font-size-copyright;
    @media (max-width:320px) {
        font-size: 10px;
    }
    &__link {
        text-decoration: none;
        transition: 0.2s ease;
        color: $color-primary;
        color: rgba(48, 45, 50, 0.5);
        &:hover {
            text-decoration: none;
            transition: 0.2s ease;
            color: rgba(48, 45, 50, 1);
        }
    }
    &__copy {
        margin-top: -2px;
        color: rgba(48, 45, 50, 0.5);
        @media (max-width:990px) {
            margin-left: -7px;
        }
    }
    &__text {
        position: relative;
        margin: -3px -19px 0 0;
        color: rgba(48, 45, 50, 0.5);
        @media (max-width:990px) {
            margin: -3px -10px 0 0;
        }
    }
}

.box-form-item {
    .form {
        display: block;
        margin-bottom: 14px;
        padding: 0;
        @media (max-width:1200px) {
            margin: 0 0px 14px;
        }
        &__text {
            @media (max-width:320px) {
                font-size: $font-size-features;
            }
            margin-bottom: 11px;
        }
        &__input {
            padding: 21px 328px 18px 30px;
            border: 1px solid $color-primary;
            @media (max-width:1200px) {
                padding: 21px 172px 18px 30px;
            }
            @media (max-width:320px) {
                font-size: $font-size-features;
            }
            &:focus {
                outline: none;
                border: 1px solid $color-secondary;
            }
        }
        &__btn {
            padding: 20px 45px;
            color: $bg-color;
            font-size: $font-size-btn;
            font-weight: 700;
            text-transform: uppercase;
            background-color: $color-primary;
            border: none;
            margin-left: -4px;
            margin-bottom: 16px;
            letter-spacing: 3px;
            @media (max-width:320px) {
                font-size: 14px;
                padding: 17px 32px;
                margin-left: 55px;
                margin-top: 40px;
                margin-bottom: 10px;
            }
            &:focus {
                outline: none;
            }
        }
    }
}